@use "_mixin";
.dashboard{
    overflow-y: auto;

    .bar{
        height: 4rem;
        @include mixin.flex(row, unset, center, 1rem);
        padding:0 1rem;
        border-bottom: 1px solid rgba(0,0,0,.3);
        >input{
            margin-right: auto;
            @include mixin.inputStyle(1rem 0 , 1px solid rgba(255, 255, 255, 0), 5px, inherit, 100%);
        }
        >img{
            @include mixin.square(32px);
            border-radius: 50%;
        }
        >svg{
            font-size: 18px;
            color: rgba(0,0,0,.8);
        }

    }

    >.widgetcontainer{
         @include mixin.flex(row, space-between, stretch, 1rem); 
        padding: 1rem 0rem;
        flex-wrap: wrap;
        >.widget{
            background: #fff;
            padding: 1rem;
            border-radius: 5px;
            width: 100%;
            box-shadow: 0 2px 5px rgba(0,0,0,.1);
            @include mixin.flex(row, space-between, center, .5rem);
            @media (min-width: 768px) {
                width: calc(50% - 0.5rem);
            }
            @media (min-width: 1024px) {
                width: calc(25% - 0.75rem);
            }
            .widgetInfo{
                p{
                    font-size: 14px;
                    opacity: .8;
                }
                h3{
                    font-size: 24px;
                    font-weight: 700;
                    margin: 10px 0px;
                }
            }
            >.widget-circle{
                position: relative;
                flex:null;
                @include mixin.square(48px);
                border-radius: 50%;
                background-color: rgb(227, 227, 227);
                @include mixin.flex(row, center, center, unset);
                z-index: 3;
                &::before{
                    content: "";
                    position: absolute;
                    @include mixin.square(40px);
                    border-radius: 50%;
                    background-color: rgb(255, 255, 255);
                    z-index: 2;
                }
                span{
                    font-size: 12px;
                    color: #fff;
                    position: relative;
                    z-index: 10;
                    font-weight: 900; 
                    font-weight: 500;
                }
            }
        }
    }

    >.graph-container{
        @include mixin.flex(row, unset, unset, 2rem);
        padding: 0rem 2rem 2rem 0;
        >div{
            background-color: white;
            border-radius: 10px;
        }

        .revenue-chart{
            width: 100%; 
            
            padding: 1rem 3rem;



           

            > h2{
                @include mixin.heading;
                text-align: center;
                margin: 1rem 0 2rem .25rem;
            }
        }

        .dashboard-categoies{
            width: 100%;
            max-width: 17rem;
            @include mixin.flex(column, center, unset, 1rem); 
            padding: 1rem 3rem;

            >h2{
                @include mixin.heading;
                text-align: center;
                margin: 1rem 0 2rem .25rem; 
            }
            >div{ 
                padding-left: .2rem;
            }
        }

        .categories-item{
            width: 100%;
            @include mixin.flex(row, space-between, center, .2rem);
            padding: .4rem;
            >h5{
                letter-spacing: 1px;
                font-weight: 300;
            }
            >div{
                margin-left: auto;
                width: 6rem;
                background: rgb(237, 237, 237);
                height: .25rem;
                flex: none;
                >div{
                    height: 100%;
                    border-radius: 20px;
                }
            }
            >span{
                font-size: 14px;
                font-weight: 700;
            }
        }

    }
}